
.footer {
	margin-top: 30px;
	.widget {
	    color: #fff;
	    line-height: 1.4;
	    font-size: 14px;
	    text-align: center;
	    &:first-child {
		    background: #363636;
		    padding: 30px 15px;
		}
		&:nth-child(2) {
		    background: #252525;
		    padding: 10px 15px;
		}
	}
	a {
		color: #fff;
	}
}