

.giai-phap {
    background: #fff none repeat scroll 0 0;
    margin-bottom: -30px;
    margin-top: -50px;
    padding-top: 50px;
    text-align: justify;
    .giai-phap-meta {
	    background: #ebebeb none repeat scroll 0 0;
	    padding: 20px 0;
	}
	.giai-phap-content {
	    padding: 20px 0;
	}
}
